body {
  font-size: 14px;
  font-family: 'PT sans', sans-serif, 'Arial' ;
  line-height: 21px;
  margin: 0 auto;
  color: black;
}

a {
  font-family: 'PT sans', sans-serif, 'Arial';
}

input {
  font-family: 'PT sans', sans-serif, 'Arial';
}

@media screen and (min-width: 1200px) {
  body {
    width: 1280px;
    max-width: 1280px;
    min-width: 1280px;
    background-color: #f2f2f2;
    margin: 0;
  }
}
