.btn {
  padding: 17px 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  font-family: 'PT sans';
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(129, 179, 210, 1);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #94b9d2;
  }
}

.btn__reservation {
  margin-bottom: 49px;
}

.btn__reservation--disabled {
  background-color: #e5e5e5;
  color: white;
}

.btn__form {
  max-width: 185px;
  padding: 16px 49px 18px 46px;
  max-height: 58px;
  margin: 0 20px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.btn__modal-content {
  width: 280px;
  height: 58px;
  outline: none;
  border: none;
}

@media screen and (min-width: 648px) {
  .btn__reservation {
    padding: 16px 135px;
    margin-bottom: 59px;
  }

  .btn__form {
    position: relative;
    width: 324px;
    padding: 16px 76px 18px 60px;
    margin: 0 0 32px;
  }

  .btn__form::after {
    position: absolute;
    top: 19px;
    right: -325px;
    content: '* - Обязательные поля';
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
  }

  .btn__modal-content {
    &--tablet {
      width: 458px;
    }

    &--tablet-error {
      width: 270px;
      min-width: 270px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .btn__reservation {
    margin-bottom: 65px;
  }

  .btn__form {
    width: 480px;
    padding: 16px 146px 18px;
  }

  .btn__form::after {
    right: -480px;
  }
}
