.checkbox {
  padding-bottom: 55px;

  &--last {
    padding-bottom: 24px;
  }

  .checkbox__input {
    display: none;
  }

  .checkbox__text {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-left: 78px;
  }

  .checkbox__text::before {
    position: absolute;
    content: '';
    top: -15px;
    left: -79px;
    width: 55px;
    height: 56px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  .checkbox__text::after {
    display: none;
    position: absolute;
    content: '';
    top: 5px;
    left: -62px;
    width: 19px;
    height: 10px;
    background-color: transparent;
    border: 3px solid #231f20;
    border-top-style: none;
    border-right-style: none;
     transform: rotate(-45deg);
  }

  .checkbox__input:checked + span::after {
    display: block;
  }

  &:hover span::before {
    background-color: #e5e5e5;
  }

  &:active .checkbox__text::before {
    background-color: #d5d5d5;
  }

  &:active .checkbox__text::after {
    opacity: 0.3;
  }
}

@media screen and (min-width: 648px) {
  .checkbox {
   padding-bottom: 62px;

  }
}
