.describtion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 225px;
  margin: 0 auto;

  &--index {
    height: 220px;
  }

  .describtion__title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 43px;
    text-transform: uppercase;
  }

  .describtion__text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 33px;
    text-transform: uppercase;

    &--index {
      margin-bottom: 33px;
    }
  }
}

.describtion::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: '';
  width: 100%;
  height: 19px;
  background-image: url('../img/bg-intro-triangle-mobile.svg');
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 648px) {
  .describtion {
    width: auto;
    max-width: auto;
    height: auto;

    .describtion__title {
      width: 444px;
      max-width: 444px;
      font-size: 21px;
      width: 445px;
      max-width: 445px;
      margin-top: 50px;
    }

    .describtion__text {
      width: 490px;
      max-width: 490px;
      margin-top: 12px;
      margin-bottom: 49px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .describtion {
    background-color: white;
    .describtion__text::after {
        display: none;
      }
  }
}
