.developer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &--form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
  }

  .developer__text {
    font-size: 14px;
    line-height: 26px;
    margin-right: 12px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 648px) {
  .developer {
    margin-top: 0;

    &--form {
      margin-top: 10px;
    }

    .developer__text {
      &--tablet {
        margin-top: -8px;
      }
    }
  }
}
