.feature-items {
  display: flex;
  flex-direction: column;
  padding: 26px 20px 29px;
}

@media screen and (min-width: 768px) {
  .feature-items {
    flex-direction: row;
    padding: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .feature-items {
    background-color: white;
  }
}
