.feature-items {
  display: flex;
  flex-direction: column;
  padding: 26px 20px 18px;
}
@media screen and (min-width: 648px) {
  .feature-items {
    flex-direction: row;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature-items {
    background-color: white;
  }
}
