.feedback-form {
  margin-bottom: 29px;

  .feedback-form__fieldset {
  width: auto;
  border-top: 1px solid #e5e5e5;
  }

  .feedback-form__container {
  padding: 17px 6.6%;
  }

  .feedback-form__legend {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    width: auto;
    text-transform: uppercase;
    margin-bottom: 20px;

    &--area {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
      font-weight: 600;
      width: auto;
      text-transform: uppercase;
      margin-bottom: 17px;
    }
  }

  .feedback-form__items {
    display: flex;
    flex-direction: column;

    &--radio {
      margin-top: 37px;
    }

    &--checkbox {
      padding-top: 10px;
    }
  }

  .feedback-form__items-two {
  flex-direction: column;
  width: 280px;
  }

  .feedback-form__item {
    display: flex;
    flex-direction: row;
    max-width: 280px;
  }

  .feedback-form__label {
    justify-content: center;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 17px 16px 10px 0px;
  }

  .feedback-form__label--email {
    justify-content: center;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0px 0px 8px 20px;
  }

  .feedback-form__fields {
    width: auto;
    margin-bottom: 22px;
  }

  .feedback-form__fields--two {
    margin-bottom: 20px;
  }

  .feedback-form__fields--last {
    margin-bottom: 8px;
  }

  .feedback-form__square {
    display: flex;
    min-width: 58px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
  }

  .feedback-form__icon {
    margin: auto;
  }

button {
    border: none;
    outline: none;
  }

  .feedback-form__items--two .feedback-form__label {
    margin-top: 0px 0px 4px 20px;
  }

  .feedback-form__items--two .feedback-form__fields {
    margin-bottom: 10px;
    min-width: 222px;
    min-height: 58px;
  }

  .feedback-form__label--mob {
    margin-left: 20px;
  }

}
