.field {
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 22.5px 22px;
  width: 100%;
  max-height: 58px;
}

.field--area {
  max-width: 280px;
  min-height: 116px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 22.5px 22px;
  margin-bottom: 34px;
}

.field--name {
  width: 100%;
}


/*
input[placeholder=""] {
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
} */
