.gallery-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 648px) {
  .gallery-items {
    width: 768px;
    max-width: 786px;
    height: auto;
    padding: 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-items {
    width: 1200px;
    max-width: 1200px;
    padding: 0;
  }
}
