.map {
  width: auto;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('../img/bg-map-mobile@1x.jpg');
  background-color: #cadfaa;
}
@media (min-resolution: 1.5dppx) {
  .map {
    background-image: url('../img/bg-map-mobile@2x.jpg');
    background-size: auto 350px;
  }
}
@media screen and (min-width: 648px) {
  .map {
    background-image: url('../img/bg-map-tablet@1x.jpg');
    background-size: auto 350px;
  }
  @media (min-resolution: 1.5dppx) {
    .map {
      background-image: url('../img/bg-map-tablet@2x.jpg');
      background-size: auto 350px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .map {
    background-image: url('../img/bg-map-desktop@1x.jpg');
    background-size: auto 350px;
  }
  @media (min-resolution: 1.5dppx) {
    .map {
      background-image: url('../img/bg-map-desktop@2x.jpg');
      background-size: auto 350px;
    }
  }
}
