.page-header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 2;

  .page-header__menu {
    display: flex;
    position: relative;
    height: 56px;
    background-color: inherit;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 110px;
    width: 80%;

    &--tablet {
      display: none;
      position: absolute;
      left: 43%;
    }

    &--desktop {
      display: none;
      position: absolute;
      left: 42%;
    }
  }

  button {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .page-header__open {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
    z-index: 2;
    width: 23px;
    height: 4px;
    background-color: rgb(129, 179, 210);
    box-shadow: 0 8px 0 0 rgb(129, 179, 210), 0 16px 0 0 rgb(129, 179, 210);
  }

  .page-header__image {
    z-index: 1;
    width: 320px;
    height: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-size: auto 390px;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../img/bg-back-mobile@2x.jpg');
    background-size: 320px auto;
  }

  .page-header__image--mob {
    z-index: 1;
    width: auto;
    height: 158px;
    background-color: #2a404e;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-size: auto;
  }
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url('../img/bg-back-mobile@2x.jpg');
    background-size: 320px auto;
  }

  .page-header__border-bottom::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 320px;
    height: 27px;
    z-index: 3;
    background-image: url('../img/bg-intro-triangle-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .page-header__welcome-title {
    width: 86.8%;
    margin: 20px 20px 0;
  }

  .page-header__sedona {
    width: 70%;
    margin: 30px 45px 0;
  }
}
@media screen and (min-width: 648px) {
  .page-header {
    width: 768px;

    .page-header__logo {
      display: none;

      &--tablet {
        display: block;
      }
    }

    .page-header__open {
      display: none;
    }

    .page-header__image {
      width: 768px;
      height: 518px;
      background-image: url('../img/bg-back-tablet@1x.jpg');
      background-size: 768px 518px;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .page-header__image {
        background-image: url('../img/bg-back-tablet@2x.jpg');
        background-size: 768px 517px;
      }
    }

    .page-header__image--mob {
      width: 768px;
      height: 291px;
      background-position: bottom;
      background-image: url('../img/bg-back-tablet@1x.jpg');
      background-size: 768px auto;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('../img/bg-back-tablet@2x.jpg');
      background-size: 768px auto;
    }

    .page-header__border-bottom::after {
      width: 768px;
      height: 59px;
      bottom: -1px;
      background-repeat: no-repeat;
      background-image: url('../img/bg-intro-triangle-tablet.svg');
    }

    .page-header__welcome-title {
      width: 60%;
      margin-top: 77px;
      margin-left: 153px;
    }

    .page-header__sedona {
      margin: 95px 0 0 119px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    width: 1200px;

    .page-header__logo {
      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }

    .page-header__image {
      width: 1200px;
      height: 518px;
      background-image: url('../img/bg-back-desktop@1x.jpg');
      background-size: 1200px 517px;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .page-header__image {
        background-image: url('../img/bg-back-desktop@2x.jpg');
        background-size: 1200px 517px;
      }
    }
    .page-header__welcome-title {
      width: 60%;
      margin-top: 77px;
      margin-left: 240px;
    }

    .page-header__image--mob {
      width: 1200px;
      height: 300px;
      background-image: url('../img/bg-back-desktop@1x.jpg');
      background-size: 1200px auto;
    }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .page-header__image--mob {
        background-image: url('../img/bg-back-desktop@2x.jpg');
        background-size: 1200px auto;
      }
    }

    .page-header__sedona {
      width: 70%;
      margin: 100px 180px 0;
    }

    .page-header__border-bottom::after {
      width: 1200px;
      height: 59px;
      background-repeat: no-repeat;
      background-image: url('../img/bg-intro-triangle-desktop.svg');
    }
  }
}
