.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto 22px;

  .page-footer__teg {
    margin: 35px 0;
    color: black;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;

    &--form-mob {
      margin: 60px 0 35px;
    }

    &--form {
      margin: 41px 0;
      color: black;
      text-transform: uppercase;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      margin-bottom: 38px;
    }
  }
}
@media screen and (min-width: 648px) {
  .page-footer {
    flex-direction: row;
    margin: 0 60px;
    height: 120px;

    &--tablet {
      padding-top: 5px;
    }

    .page-footer__teg {
      margin: 45px 0 auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    margin: 0;
    padding: 0 44px;

    .page-footer__teg {
      margin-left: 87px;

      &--form {
        margin-left: 90px;
      }
    }
  }
}
