.post {

  .post__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .post__author {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }
}
