.post {

  .post__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 9px 0 0;
  }

  .post__author {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) {
  .post {
    position: absolute;
    top: -6px;
    padding: 16px 21px;
    max-height: 82px;
    position: relative;
    background-color: #f2f2f2;

    &--grey {
      background-color: #eaeaea;
    }

    .post__title {
      margin-top: 0px;
    }
  }
}

@media screen and (min-width: 1200px)  {
  .post {
    position: absolute;
    top: -86px;
    color: white;
    padding: 16px 21px;
    max-height: 80px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);

    &--grey {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
