.property-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 247px;
  max-width: 247px;
  margin: 0 auto;
  height: 168px;
  border-bottom: 1px solid #d6d6d6;

  &--last {
  border-bottom: none;
}

.property-item__title {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  width: 247px;
  max-width: 260px;
  margin-top: 45px;
  text-transform: uppercase;
}

.property-item__number {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  width: 247px;
  max-width: 266px;
  text-transform: uppercase;
}

.property-item__describtion {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  width: 247px;
  max-width: 260px;
  margin-bottom: 45px;
  text-transform: uppercase;
 }

}

@media screen and (min-width: 648px) {
  .property-item {
    width: 256px;
    height: 256px;
    border-bottom: none;
    padding: 0px 50px 0;

    .property-item__title {
      width: 118px;
      max-width: 118px;
      font-size: 21px;
      margin-top: 0px;
      line-height: 26px;
      margin-top: -20px;
      margin-bottom: 15px;
      padding-top: 20px;
    }

    .property-item__number {
      width: 118px;
      max-width: 118px;
      line-height: 21px;
    }

    .property-item__describtion {
      width: 158px;
      max-width: 158px;
      margin: 0 auto;
      line-height: 21px;
      margin-top: 15px;

      &--teblet {
        max-width: 140px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .property-item {
    width: 400px;
    max-width: 400px;
    padding: 0;
    margin: 0;

    .property-item__title {
      width: 114px;
      max-width: 114px;
      text-align: center;
    }

    .property-item__describtion {
      width: 264px;
      max-width: 264px;
      min-width: 264px;
      margin: 0 auto;
      margin-bottom: 20px;

      &--desktop {
        width: 293px;
        max-width: 293px;
      }
    }

    .property-item__title {
      padding-top: 0;
      margin: 0 auto;
    }

    .property-item__number {
      margin: 8px auto 23px;
    }
  }
}
