.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282px;
  max-width: 282px;
  margin: 0 auto;

  .reservation__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    width: 210px;
    max-width: 210px;
    margin-top: 56px;
    text-transform: uppercase;
  }

  .reservation__describtion {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    width: 262px;
    max-width: 262px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
}
