.slide-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 auto;
  color: white;
  height: auto;
  background-color: rgb(129, 179, 210);

.slide-two__describtion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 266px;
  max-width: 266px;
  margin: 0 auto;
}

.slide-two__describtion::before {
  position: absolute;
  top: -10px;
  left: -27px;
  content: '';
  width: 320px;
  height: 36px;
  z-index: 3;
  background-image: url('../img/bg-triangle.svg');
  background-position: center;
}

.slide-two__title {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  width: 266px;
  max-width: 260px;
  margin-top: 56px;
  text-transform: uppercase;
}

.slide-two__number {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  width: 260px;
  max-width: 266px;
  text-transform: uppercase;
}

.slide-two__text {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  width: 266px;
  max-width: 260px;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.slide-two__image {
  position: relative;
  width: auto;
  height: 260px;
  z-index: 2;
}

.slide-two__image:after {
  position: absolute;
  content: '';
  top: 0px;
  left: -160px;
  width: 320px;
  height: 260px;
  background-image: url('../img/photo-bridge-mobile@1x.jpg');
  background-position: center;
}

}

@media screen and (min-width: 768px) {
  .slide-two {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 768px;
    max-width: 768px;
    padding: 0px;

    .slide-two__describtion {
      max-width: 256px;
      width: 256px;
      height: 256px;
      padding-left: 0px;
      order: 2;
    }

    .slide-two__describtion::before {
      display: none;
    }

    .slide-two__image {
      width: 512px;
      max-width: 512px;
      height: 256px;
      order: 1;
    }

    .slide-two__image:after {
      left: 0px;
      width: 512px;
      height: 256px;
    }

    .slide-two__title {
      max-width: 152px;
      width: 152px;
      margin-top: 35px;
    }

    .slide-two__number {
      max-width: 154px;
      width: 154px;
    }

    .slide-two__text {
      max-width: 158px;
      width: 158px;
      margin-bottom: 33px;
      margin-top: 22px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .slide-two {
    width: 1200px;
    max-width: 1200px;

    .slide-two__describtion {
      width: 400px;
      max-width: 400px;
    }

    .slide-two__text {
      width: 270px;
      max-width: 270px;
    }

    .slide-two__image {
      width: 800px;
      min-width: 800px;
    }
  }
}
