.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  max-width: 240px;
  margin: 0 auto;

  .video__title {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    width: 240px;
    max-width: 240px;
    margin-top: 34px;
    text-transform: uppercase;
  }

  .video__describtion {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    width: 240px;
    max-width: 240px;
    margin-top: 10px;
    margin-bottom: 35px;
    text-transform: uppercase;
   }

   .video__container {
     position: relative;
     margin-bottom: 95px;
   }
}

@media screen and (min-width: 648px) {
  .video {
    width: auto;
    max-width: auto;
    .video__title {
      font-size: 30px;
      max-width: 354px;
      width: 354px;
      margin-top: 60px;
      margin-bottom: 22px;
    }

    .video__describtion {
      width: 416px;
      max-width: 416px;
      margin-bottom: 73px;
    }

    .video__image {
      width: 648px;
      height: 500px;
    }

    .video__container {
      margin-bottom: 28px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .video {
    .video__title {
      margin-top: -15px;
      margin-bottom: 20px;
    }

    .video__image {
      width: 800px;
      min-width: 800px;
      height: 500px;
    }

    .video__container {
      margin-bottom: 75px;
    }
  }
}
