.wrapper {
  width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow:
    -5px -0px 15px 0px rgba(0, 1, 1, 0.2),
    5px 0px 15px 0px rgba(0, 1, 1, 0.2);
  }
}
